<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ws.mahesh.apps.randomgenerator" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ws.mahesh.apps.randomgenerator.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ws.mahesh.apps.randomgenerator.NewPasswordActivity"
            android:label="@string/title_activity_new_password" >
        </activity>
        <activity
            android:name="ws.mahesh.apps.randomgenerator.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".SavedPasswordsActivity"
            android:label="@string/title_activity_saved_passwords" >
        </activity>
    </application>

</manifest>
